<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDD_rOvStat6h_ah-obeOSN4m4uLn6NhM4</string>
	<key>GCM_SENDER_ID</key>
	<string>217392323092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lib17000ft</string>
	<key>PROJECT_ID</key>
	<string>library17000ft</string>
	<key>STORAGE_BUCKET</key>
	<string>library17000ft.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217392323092:ios:aee09bcd5aa74f73d3a501</string>
</dict>
</plist>